.address .add2,
.phone .phone2,
.general .general2,
.remind .remind2 {
    content: "15/4 Khreshchatyk Street, Kyiv";
    position: absolute;
    color: #808080;
    opacity: 0;
    animation: fadeOutTop 150ms 1 reverse;
}

.add1,
.phone1,
.remind1,
.general1 {
    animation: fadeInBottom 150ms 1 reverse;
    color: black;
}

.address:hover .add1,
.phone:hover .phone1,
.remind:hover .remind1,
.general:hover .general1 {
    animation: fadeOutTop 150ms 1 forwards;
}

.address:hover .add2,
.phone:hover .phone2,
.remind:hover .remind2,
.general:hover .general2 {
    animation: fadeInBottom 150ms 1 forwards;

}


@keyframes fadeOutTop {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translateY(-15px);
    }
}

@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(15px);
    }

    to {
        opacity: 1;
    }
}