.main {
    overflow: hidden;
    position: relative;
    display: block;
}

.main::after {
    content: "";
    position: absolute;
    z-index: 20;
}

.one {
    position: absolute;
    z-index: 10;
    transition: opacity 1s ease-in-out;
}

.two {
    color: #737373;
    position: absolute;
    z-index: 5;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.main:hover .one {
    animation: fadeOutTop 0.2s ease-in-out forwards;
}

.main:hover .two {
    animation: fadeInBottom 0.2s ease-in-out forwards;
}

@keyframes fadeOutTop {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translateY(-50%);
    }
}

@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(50%);
    }

    to {
        opacity: 1;
    }
}

.imgContainer:hover .flowerImg {
    background: #000;
    --tw-scale-x: 1.25;
    --tw-scale-y: 1.25;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.imgContainer:hover .arrow {
    --tw-translate-x: 0.75rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}